<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ChooseBook.css">
    <title>Choose Book</title>

</head>

<body>
    <div id="main">
        <div class="book">
            <div class="book-choose">
                <img src="Book3.jpg">
                <div class="button-add-to-interesting-book">
                    <button class="button-like" onclick="toggleLike()" id="likeButton"><i id="heartIcon"
                            class="fa fa-heart"></i> </button>
                </div>
            </div>
            <div class="book-information">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Title: <span>Life of Napeleon</span></li>
                    <li class="list-group-item list-group-item-light">Author: <span>Aki Hayakawa</span></li>
                    <li class="list-group-item list-group-item-light">Publishing House: <span>DoubleDay</span></li>
                    <li class="list-group-item list-group-item-light">Publishing Year: <span>2012</span></li>
                    <li class="list-group-item list-group-item-light">Genre: <span>History</span></li>
                    <li class="list-group-item list-group-item-light">Language: <span>English</span></li>
                    <li class="list-group-item list-group-item-light">Has left: <span>19</span></li>
                    <li class="list-group-item list-group-item-light">Place: <span>Department A- Shelf C04</span></li>
                    <li class="list-group-item list-group-item-light">Price: <span>50000VND</span></li>
                    <li class="list-group-item list-group-item-light">Routine: <span>3 days</span></li>
                </ul>
            </div>
            <div class="button-add-to-payment">
                <button class="button-add-to-cart"> <i class="fa fa-shopping-basket"></i><span class="add-to-cart">Add
                        to cart</span> </button>
            </div>
        </div>
        <script>
            function toggleLike() {
                var likeButton = document.getElementById("likeButton");
                var heartIcon = document.getElementById("heartIcon");

                if (likeButton.classList.contains("liked")) {
                    likeButton.classList.remove("liked");
                    heartIcon.classList.remove("fa-heart-broken");
                    likeButton.innerHTML = '<i id="heartIcon" class="fas fa-heart"></i>';
                } else {
                    likeButton.classList.add("liked");
                    heartIcon.classList.add("fa-heart-broken");
                    likeButton.innerHTML = '<i id="heartIcon" class="fas fa-heart-broken"></i>';
                }
            }

            const links = document.querySelectorAll('.nav-link');
            links.forEach(link => {
                link.addEventListener('click', function () {

                    links.forEach(link => link.classList.remove('active'));
                    this.classList.add('active');
                });
            });
        </script>
    </div>
</body>

</html>