<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">

    <title>Home</title>
</head>

<body>
    <main>
        <form class="form-search">
            <div class="select-type">
                <select id="type">
                    <option value="A->Z">A->Z</option>
                    <option value="Z->A">Z->A</option>
                </select ect>

            </div>
            <input type="text" placeholder="Search by name" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <div class="book">
            <div class="list-book">

                <div class="book-block">
                    <a href=""><img src="/images/a-Dolls-house.jpg"></a>
                    <div class="book-information">
                        <div class="book-detail">Name</div>
                        <div class="book-detail">Author</div>
                    </div>
                </div>

                <div class="book-block">
                    <a href=""><img src="/images/a-Dolls-house.jpg"></a>
                    <div class="book-information">
                        <div class="book-detail">Name</div>
                        <div class="book-detail">Author</div>
                    </div>
                </div>
                <div class="book-block">
                    <a href=""><img src="/images/a-Dolls-house.jpg"></a>
                    <div class="book-information">
                        <div class="book-detail">Name</div>
                        <div class="book-detail">Author</div>
                    </div>
                </div>
                <div class="book-block">
                    <a href=""><img src="/images/a-Dolls-house.jpg"></a>
                    <div class="book-information">
                        <div class="book-detail">Name</div>
                        <div class="book-detail">Author</div>
                    </div>
                </div>
                <div class="book-block">
                    <a href=""><img src="/images/a-Dolls-house.jpg"></a>
                    <div class="book-information">
                        <div class="book-detail">Name</div>
                        <div class="book-detail">Author</div>
                    </div>
                </div>
                <div class="book-block">
                    <a href=""><img src="/images/a-Dolls-house.jpg"></a>
                    <div class="book-information">
                        <div class="book-detail">Name</div>
                        <div class="book-detail">Author</div>
                    </div>
                </div>
                <div class="book-block">
                    <a href=""><img src="/images/a-Dolls-house.jpg"></a>
                    <div class="book-information">
                        <div class="book-detail">Name</div>
                        <div class="book-detail">Author</div>
                    </div>
                </div>
                <div class="book-block">
                    <a href=""><img src="/images/a-Dolls-house.jpg"></a>
                    <div class="book-information">
                        <div class="book-detail">Name</div>
                        <div class="book-detail">Author</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
</body>

</html>