<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Login.css">

    <title>Login</title>

</head>

<body>
    <div id="container_login">
            <form class="login-container">
        <div>
            <img src="/images/Book.png">
        </div>

        <div class="my-book-shelf">
            <strong>My <span class="book-effect">Book</span><br> <span class="shelf-effect">S h e l f</span></strong>
        </div>

        <div class="welcome">
            Welcome Back !
        </div>

        <div class="require-to-login">
            Sign in to continue to your Digital Library
        </div>
        <div id="username-input" class="input-form">
            <label for="username">Username</label> <br>
            <input type="text" id="username" name="username" placeholder="username@collegue.com">
        </div>
        <div id="password-input" class="input-form">
            <label for="password">Password</label> <br>
            <input type="password" id="Password" name="password" placeholder="123434234423">
        </div>
        <div class="about-password">
            <input type="checkbox" id="save-password" name="save-password" value="save">
            <label for="save-password">Save password</label>
            <a href="">Forgot password</a>
        </div>
        <div class="button-login">
            <input type="submit" value="Login">
        </div>
        <div class="register">
            New User ? <a href="">Register Here</a>

        </div>


    </form>
    </div>

</body>

</html>